<div class="span10 offset6 red-bg regular-border regular-content">
<h1 class="rock-style white">Contact</h1>

<h3 class="white">Need a Software Developer or Co-founder for your next big idea?</h3>
<h3 class="white">Want a technical opinion on your app?</h3>
<h3 class="white">Feel free to contact me any of the following ways</h3>
<ul>
    <li><h4>Twitter: <a href="http://twitter.com/#!/linuxlewis" class="white" title="twitter">@linuxlewis</a></h4></li>
    <li><h4>Facebook: <a href="http://facebook.com/sbolgert" class="white" title="Facebook">Sam Bolgert</a></h4></li>
    <li><h4>Linkedin: <a href="http://www.linkedin.com/in/sbolgert" class="white" title="Linkedin">Sam Bolgert</a></h4></li>
    <li><h4>Github: <a href="https://github.com/linuxlewis" class="white" title="github">linuxlewis</a></h4></li>
</ul>

</div>
