<div class="span8 offset8 regular-border red-bg main-title">
    <h1><span class="rock-style white">Hi, I'm Sam Bolgert.</span></h1>
    <h3>I'm a Software Developer and Tech Entreupeneur.</h3>
    <h3>I love solving tough problems and hope to make the world a better place through advancing technology.</h3>
    <h3>Find me on <a href="http://www.facebook.com/sbolgert" class="white" target="_blank">Facebook</a> or Follow me on <a href="http://www.twitter.com/#!/linuxlewis" class="white" target="_blank">Twitter.</a></h3>
</div>
