<div class="span12 offset4 regular-border red-bg regular-content">
    <h1><span class="rock-style white">My work</span></h1>
    <h3>A collection of projects for clients and myself. Some source is on <a href="https://github.com/linuxlewis" class="white" target="_blank" title="Github">Github</a> and some isn't. Questions? 
    <a href="/contact" class="white">Contact me</a></h3>



    <h2 class="rock-style white header-border">This site</h2>
    <ul class="media-grid">
        <li><a href="http://sambolgert.com" title="Sam Bolgert"><img class="thumbnail" src="/static/images/home.jpg"/></a></li>
    </ul>
    <p class="white ">This site was my first foray into Node.js. In addition to Node, I used the Express web framework to power the site and designed it on top of Twitter's <a href="http://twitter.github.com/bootstrap/" class="white" title="Bootstrap" target="_blank">Bootstrap</a>.
    The inspiration for my design came from sites made with <a href="http://about.me" class="white" title="about.me" target="_blank">about.me</a>. 
    Its hosted behind an Nginx proxy on <a href="http://www.webfaction.com" class="white" title="Webfaction" target="_blank"> Webfaction</a>. The source code is available on Github</p>




    <a href="http://se.cret.ly"><h2 class="rock-style white header-border">Se.cret.ly</h2></a>
    <ul class="media-grid">
        <li><a href="http://se.cret.ly" title="Secretly"><img class="thumbnail" src="/static/images/secretly.jpg"/></a></li>
        <li><a href="http://se.cret.ly" title="Secretly"><img class="thumbnail" src="/static/images/secretly2.jpg"/></a></li>
        <li><a href="http://se.cret.ly" title="Secretly"><img class="thumbnail" src="/static/images/secretly3.jpg"/></a></li>
    </ul>
    <p class="white">Secretly is a web application that creates one time short links for links, images, and text. The idea came to me when I was chatting with a friend and didn't have a secure way to send them an image. Email wasn't an option, and other sites like imgur were too public. I designed and developed the entire application. It is powered by Ruby on Rails and Amazon Web Services and hosted in the cloud on <a href="http://www.heroku.com" class="white" title="Heroku" target="_blank">Heroku</a>.</p>



    <a href="http://www.sambolgert.com/outloudio"><h2 class="rock-style white header-border">Outloudio</h2></a>
    <ul class="media-grid">
        <li><a href="http://www.sambolgert.com/outloudio" title="Outloudio"><img class="thumbnail" src="/static/images/outloudio.jpg"/></a></li>
        <li><a href="http://www.sambolgert.com/outloudio" title="Outloudio"><img class="thumbnail" src="/static/images/outloudio2.jpg"/></a></li>
        <li><a href="http://www.sambolgert.com/outloudio" title="Outloudio"><img class="thumbnail" src="/static/images/outloudio3.jpg"/></a></li>
    </ul>
    <p class="white">Outloudio is a web application that creates a personal news audio-cast from articles found around the web. Outloudio was the product of the weekend long competition:<a href="http://chicago.startupweekend.org/" class="white" title="Startup Weekend" target="_blank"> Chicago Startup Weekend</a>. I grouped up with other entreupeneurs to create a working product and business plan by the end of the weekend. I was the primary developer and coded and designed the entire backend system with Python and Django. Outloudio won "Best Technical Demo". It is hosted on my <a href="http://www.webfaction.com" class="white" title="Webfaction" target="_blank"> Webfaction</a> server with Apache and mod_wsgi.</p>
    


    <a href="http://blog.sambolgert.com"><h2 class="rock-style white header-border">My Blog</h2></a>
    <ul class="media-grid">
        <li><a href="http://blog.sambolgert.com" title="SamBlog"><img class="thumbnail" src="/static/images/blog.jpg"/></a></li>
        <li><a href="http://blog.sambolgert.com" title="SamBlog"><img class="thumbnail" src="/static/images/blog2.jpg"/></a></li>
        <li><a href="http://blog.sambolgert.com" title="SamBlog"><img class="thumbnail" src="/static/images/blog3.jpg"/></a></li>
    </ul>
    <p class="white">In a true open source style my blog is based of a fork of the Ruby on Rails blog engine Enki. The design is based off my previous wordpress blog. You can see my fork of the project on Github. My blog is hosted seperately from this site in the cloud on the <a href="http://www.heroku.com" class="white" title="Heroku" target="_blank">Heroku</a> application platform.</p> 




    <a href="http://www.uwspcommute.com"><h2 class="rock-style white header-border">UWSP Sustainable Commute Project</h2></a>
    <ul class="media-grid">
        <li><a href="http://www.uwspcommute.com" title="UWSP SCP"><img class="thumbnail" src="/static/images/uwspscp.jpg" /></a><li>
        <li><a href="http://www.uwspcommute.com" title="UWSP SCP"><img class="thumbnail" src="/static/images/uwspscp2.jpg" /></a><li>
        <li><a href="http://www.uwspcommute.com" title="UWSP SCP"><img class="thumbnail" src="/static/images/uwspscp3.jpg" /></a><li>
        <li><a href="http://www.uwspcommute.com" title="UWSP SCP"><img class="thumbnail" src="/static/images/uwspscp4.jpg" /></a><li>
        <li><a href="http://www.uwspcommute.com" title="UWSP SCP"><img class="thumbnail" src="/static/images/uwspscp5.jpg" /></a><li>

    </ul>
    <p class="white">This website was made for the Sustainable Commute Project at my alma mater UW-Stevens Point. I was the architect for this application and designed it based on the specifications given to me by the primary researcher. I was responsible for recruiting additional members of the development team and outsourcing tedious work.The website explains the goals of the project and allows community members to take a "Commuting Survey". The interactive survey utilizes Google Maps to get the users route to and from UW-Stevens Point. The data gathered from this application will be used to redesign city road ways and reduce the community's impact on the environment. I coded the site with the Web2py web framework and its hosted on Google App Engine.</p>



    <a href="https://market.android.com/details?id=com.bolgert&hl=en"><h2 class="rock-style white header-border">Out in SP</h2></a>
    <ul class="media-grid">
        <li><a href="https://market.android.com/details?id=com.bolgert&hl=en" title="Out in SP"><img class="thumbnail" src="/static/images/outinsp.jpg"/></a></li>
        <li><a href="https://market.android.com/details?id=com.bolgert&hl=en" title="Out in SP"><img class="thumbnail" src="/static/images/outinsp2.jpg"/></a></li> 
        <li><a href="https://market.android.com/details?id=com.bolgert&hl=en" title="Out in SP"><img class="thumbnail" src="/static/images/outinsp3.jpg"/></a></li>
        <li><a href="https://market.android.com/details?id=com.bolgert&hl=en" title="Out in SP"><img class="thumbnail" src="/static/images/outinsp4.jpg"/></a></li>
        <li><a href="https://market.android.com/details?id=com.bolgert&hl=en" title="Out in SP"><img class="thumbnail" src="/static/images/outinsp5.jpg"/></a></li>
    </ul>
    <p class="white">Out in SP is an Android Application that allows users to see a daily list of the bar specials of bars in Stevens Point, WI. Users can connect with each other over Facebook based on the bar they are currently at. I developed and designed the entire application for the 1st annual Noel Group Mobile Application Contest. My application took 1st place. It is currently available in the <a href="https://market.android.com/details?id=com.bolgert&hl=en" class="white" title="Out in SP" target="_blank">Android Market</a>. The backend is powered by MySQL and PHP5 and hosted on my <a href="http://www.webfaction.com" class="white" title="Webfaction" target="_blank"> Webfaction</a> server.</p>
</div>
